<h1>Sudoku</h1>

<form action="/" method="post">
<div id='sudoku'>
  <% 3.times do |row| %>
    <div class='row'>
      <% 3.times do |box| %>
        <div class='box'>
          <% 3.times do |cell_row| %>
            <div class='cell-row'>
              <% 3.times do |cell| %>
                <div class='cell'>
                  <% cell_index = row * 27 + box * 3 + cell_row * 9 + cell %>
                  <% cell_value = cell_value(@current_puzzle[cell_index]) %>
                  <% colour_class = colour_class(@check_solution, @puzzle[cell_index], \
                     @proposed_solution[cell_index], @solution[cell_index])  %>
                  <input class="<%= colour_class %>" name='cell[]' type="text" maxlength='1'
                  autocomplete='off' value="<%= cell_value %>" 
                  <%= "readonly" if @puzzle[cell_index].to_i != 0 %> >
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
  <button name="check" type="submit">Check solution</button>
</form>

<div id="secondrow_buttons">
  <form action="/" method="post" accept-charset="utf-8">
    <button type="submit" name='solution'>Show solution</button>
  </form>

  <form action="/" method="post" accept-charset="utf-8">
    <button type="submit" name='new'>Generate new puzzle</button>
  </form>
</div>

<h4>Don't know how to play? Try Google&trade;</h4>

<form action="/" method="post" id="night">
  <button id="night" type="submit" name="night">
    <%= night_mode ? 'Day' : 'Night' %> mode
  </button>
</form>
