#sudoku {
  font-size: 0;
  text-align:center;
  margin-bottom: 20px;
}

div.box, div.cell {
  display: inline-block;
}

div.box {
  margin: 5px;
  border: 2px solid black;
}

div.cell {
  border: none;
  border: 2px solid black;
}

.cell input {
  width: 30px;
  height: 30px;
  text-align:center;
  border: none;
}


body {
  text-align: center;
  font-family: 'Gentium Book Basic', Georgia, serif;
}

input {
  /*stops it being overridden by webkit-small-control*/
  font-family: inherit;
  font-size: 20px;
}

h1 {
  font-weight: 400;
  margin-bottom: -0.4em;
  font-size: 70px;
}

h2 {
  font-weight: 100;
  font-size: 25px;
}
