#sudoku {
  font-size: 0;
  text-align:center;
  margin-bottom: 20px;
}

div.box, div.cell {
  display: inline-block;
}

div.box {
  margin: 5px;
  border: 2px solid black;
}

div.cell {
  border: none;
  border: 2px solid black;
}

.cell input {
  width: 30px;
  height: 30px;
  text-align:center;
  border: none;
  font-family: inherit;
  font-size: 20px;
}


body {
  text-align: center;
  font-family: 'Gentium Book Basic', Georgia, serif;
}

#secondrow_buttons {
  margin: 10px auto;
}

form {
  display: inline;
}

button {
  /*stops it being overridden by webkit-small-control*/
  font-family: inherit;
  font-size: 20px;
  background-color:transparent;
  border: 2px solid black;
  border-radius:20px;
}

button[name="check"] {
  margin: 0 auto;
  /*float: left;*/
}

.provided {
  background-color: #DDDDDD;
}

.wrong {
  background-color: #FF9999;
}

.right {
  background-color: #88EE88;
}

.modified_provided {
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
  font-weight: 400;
  margin-bottom: -0.4em;
  font-size: 70px;
}

h2 {
  font-weight: 100;
  font-size: 25px;
}
